In [50]:
#importing libraries
import pandas as pd

In [51]:
#loading .csv files as dataframes
food_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food.csv")
food_nutrients_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food_nutrient.csv")
food_portion_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food_portion.csv")
measurement_units_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\measure_unit.csv")
nutrient_list_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\nutrient.csv")

C:\Users\Dylan\AppData\Local\Temp\ipykernel_54880\2552723871.py:3: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food_nutrient.csv")

In [52]:
#exploring dataframes
#food_df
food_nutrients_df
#food_portion_df
#measurement_units_df
#nutrient_list_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,2201847,319877,1051,56.300,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,2201845,319877,1002,1.280,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,2201846,319877,1004,19.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,2201844,319877,1007,1.980,1.0,1.0,NaN,NaN,NaN,NaN,NaN
4,2201852,319878,1091,188.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
140819,33296663,2648869,1258,12.180,1.0,1.0,NaN,NaN,NaN,NaN,NaN
140820,33296664,2648870,1263,0.614,1.0,1.0,NaN,NaN,NaN,NaN,NaN
140821,33296665,2648871,1264,1.949,1.0,1.0,NaN,NaN,NaN,NaN,NaN
140822,33296666,2648872,1265,5.375,1.0,1.0,NaN,NaN,NaN,NaN,NaN
140823,33296667,2648873,1266,2.324,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [53]:
#dropping unused columns

#food_nutrients_df = food_nutrients_df.drop(columns =['min', 'max','median','footnote','min_year_acquired'])
#food_nutrients_df

#food_portion_df = food_portion_df.drop(columns=['seq_num','footnote', 'min_year_acquired'])
#food_portion_df

nutrient_list_df = nutrient_list_df.drop(columns=['rank','nutrient_nbr'])
nutrient_list_df

       id                                        name unit_name
0    2047            Energy (Atwater General Factors)      KCAL
1    2048           Energy (Atwater Specific Factors)      KCAL
2    1001                                      Solids         G
3    1002                                    Nitrogen         G
4    1003                                     Protein         G
..    ...                                         ...       ...
472  2064                            Oligosaccharides        MG
473  2065  Low Molecular Weight Dietary Fiber (LMWDF)         G
474  2068                                   Vitamin E        MG
475  2067                                   Vitamin A        UG
476  2069                                 Glutathione        MG

[477 rows x 3 columns]

In [54]:
#renaming columns to prepare for merges

nutrient_list_df = nutrient_list_df.rename(columns={'id':'nutrient_id'})

In [55]:
#Joining food_nutrients_df and nutrient_list_df on key column - nutrient_id and id (respectively)

merged_nutrient_df = food_nutrients_df.merge(nutrient_list_df, how='left')
merged_nutrient_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name
0,2201847,319877,1051,56.300,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Water,G
1,2201845,319877,1002,1.280,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Nitrogen,G
2,2201846,319877,1004,19.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Total lipid (fat),G
3,2201844,319877,1007,1.980,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Ash,G
4,2201852,319878,1091,188.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"Phosphorus, P",MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140819,33296663,2648869,1258,12.180,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total saturated",G
140820,33296664,2648870,1263,0.614,1.0,1.0,NaN,NaN,NaN,NaN,NaN,SFA 12:0,G
140821,33296665,2648871,1264,1.949,1.0,1.0,NaN,NaN,NaN,NaN,NaN,SFA 14:0,G
140822,33296666,2648872,1265,5.375,1.0,1.0,NaN,NaN,NaN,NaN,NaN,SFA 16:0,G
140823,33296667,2648873,1266,2.324,1.0,1.0,NaN,NaN,NaN,NaN,NaN,SFA 18:0,G

In [56]:
#drop unused columns in new dataframe

merged_nutrient_df = merged_nutrient_df.drop(columns=['min','max','median','footnote','min_year_acquired'])
merged_nutrient_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,name,unit_name
0,2201847,319877,1051,56.300,1.0,1.0,Water,G
1,2201845,319877,1002,1.280,1.0,1.0,Nitrogen,G
2,2201846,319877,1004,19.000,1.0,1.0,Total lipid (fat),G
3,2201844,319877,1007,1.980,1.0,1.0,Ash,G
4,2201852,319878,1091,188.000,1.0,1.0,"Phosphorus, P",MG
...,...,...,...,...,...,...,...,...
140819,33296663,2648869,1258,12.180,1.0,1.0,"Fatty acids, total saturated",G
140820,33296664,2648870,1263,0.614,1.0,1.0,SFA 12:0,G
140821,33296665,2648871,1264,1.949,1.0,1.0,SFA 14:0,G
140822,33296666,2648872,1265,5.375,1.0,1.0,SFA 16:0,G
140823,33296667,2648873,1266,2.324,1.0,1.0,SFA 18:0,G

In [57]:
#merge food dataframe to merged_nutrient_df

merged_nutrient_food_df = merged_nutrient_df.merge(food_df, how='left')
merged_nutrient_food_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,name,unit_name,data_type,description,food_category_id,publication_date
0,2201847,319877,1051,56.300,1.0,1.0,Water,G,sub_sample_food,Hummus,16.0,4/1/2019
1,2201845,319877,1002,1.280,1.0,1.0,Nitrogen,G,sub_sample_food,Hummus,16.0,4/1/2019
2,2201846,319877,1004,19.000,1.0,1.0,Total lipid (fat),G,sub_sample_food,Hummus,16.0,4/1/2019
3,2201844,319877,1007,1.980,1.0,1.0,Ash,G,sub_sample_food,Hummus,16.0,4/1/2019
4,2201852,319878,1091,188.000,1.0,1.0,"Phosphorus, P",MG,sub_sample_food,Hummus,16.0,4/1/2019
...,...,...,...,...,...,...,...,...,...,...,...,...
140819,33296663,2648869,1258,12.180,1.0,1.0,"Fatty acids, total saturated",G,sub_sample_food,cotija (solid),1.0,10/19/2023
140820,33296664,2648870,1263,0.614,1.0,1.0,SFA 12:0,G,sub_sample_food,cotija (solid),1.0,10/19/2023
140821,33296665,2648871,1264,1.949,1.0,1.0,SFA 14:0,G,sub_sample_food,cotija (solid),1.0,10/19/2023
140822,33296666,2648872,1265,5.375,1.0,1.0,SFA 16:0,G,sub_sample_food,cotija (solid),1.0,10/19/2023
140823,33296667,2648873,1266,2.324,1.0,1.0,SFA 18:0,G,sub_sample_food,cotija (solid),1.0,10/19/2023

In [65]:
foundation_food_df = merged_nutrient_food_df.loc[merged_nutrient_food_df['data_type'] == 'foundation_food']
foundation_food_df = foundation_food_df.rename(columns={'description':'food_item', 'name':'component', 'unit_name':'unit'})
foundation_food_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,component,unit,data_type,food_item,food_category_id,publication_date
2412,2219773,321358,1262,0.0000,6.0,1.0,SFA 10:0,G,foundation_food,"Hummus, commercial",16.0,4/1/2019
2413,2219774,321358,1265,1.4100,6.0,1.0,SFA 16:0,G,foundation_food,"Hummus, commercial",16.0,4/1/2019
2414,2219725,321358,1278,0.0000,6.0,1.0,PUFA 20:5 n-3 (EPA),G,foundation_food,"Hummus, commercial",16.0,4/1/2019
2415,2219709,321358,1127,1.3000,6.0,1.0,"Tocopherol, delta",MG,foundation_food,"Hummus, commercial",16.0,4/1/2019
2416,2219749,321358,1090,71.1000,11.0,1.0,"Magnesium, Mg",MG,foundation_food,"Hummus, commercial",16.0,4/1/2019
...,...,...,...,...,...,...,...,...,...,...,...,...
139500,33296834,2647443,1269,0.7141,7.0,1.0,PUFA 18:2,G,foundation_food,"Cheese, cotija, solid",1.0,10/19/2023
139501,33296823,2647443,1112,0.0000,7.0,1.0,Vitamin D3 (cholecalciferol),UG,foundation_food,"Cheese, cotija, solid",1.0,10/19/2023
139502,33296832,2647443,1265,7.3910,7.0,1.0,SFA 16:0,G,foundation_food,"Cheese, cotija, solid",1.0,10/19/2023
139503,33296816,2647443,1095,3.5970,7.0,1.0,"Zinc, Zn",MG,foundation_food,"Cheese, cotija, solid",1.0,10/19/2023
139504,33296835,2647443,1087,699.6000,7.0,1.0,"Calcium, Ca",MG,foundation_food,"Cheese, cotija, solid",1.0,10/19/2023

In [66]:
#create function to retrieve food data
#def get_nutrients(food):
    #food_data = foundation_food_df[foundation_food_df['food_item'] == food]
    #nutrient_volume = {}
    #for index, row in food_data.iterrows():
        #nutrient_volume[row['component']] = row['amount']  # Use '=' instead of '=='
   #return nutrient_volume

In [60]:
#food_item = input("Enter a food product!: ")
#nutrient_volume = get_nutrients(food_item)

#print(f"Nutrients contained in {food_item}:")
#for nutrient, amount in nutrient_volume.items():
    #print(f"{nutrient}: {amount}")

Enter a food product!: Milk
Nutrients contained in Milk:

In [ ]:
#I am using exact matching, which causes my output to not show any nutrients. I will import the process from the fuzzywuzzy library installed below library

!pip install fuzzywuzzy

In [67]:
from fuzzywuzzy import process

In [68]:
def get_nutrients_with_fuzzy_matching_and_units(food):
    # Perform fuzzy matching to find the closest match to the input food item
    match = process.extractOne(food, foundation_food_df['food_item'])
    closest_food = match[0]
    
    # Filter the DataFrame for the closest matched food item
    food_data = foundation_food_df[foundation_food_df['food_item'] == closest_food]
    
    nutrient_info = {}
    
    # Populate the dictionary with nutrients, amounts, and units
    for index, row in food_data.iterrows():
        nutrient = row['component']
        amount = row['amount']
        unit = row['unit']
        nutrient_info[nutrient] = {'amount': amount, 'unit': unit}
    
    return nutrient_info

In [70]:
# Input from user
food_item = input("Enter a food product: ")
nutrient_info = get_nutrients_with_fuzzy_matching_and_units(food_item)

# Sort the dictionary by keys alphabetically
nutrient_info_sorted = dict(sorted(nutrient_info.items()))

# Create a DataFrame from the sorted dictionary
nutrient_df = pd.DataFrame(nutrient_info_sorted).T

# Print the DataFrame
print(f"Nutrients contained in {food_item}:")
nutrient_df

Enter a food product: Milk
Nutrients contained in Milk:

                                 amount unit
Alanine                           0.325    G
Arginine                           0.21    G
Ash                                1.36    G
Aspartic acid                     0.735    G
Calcium, Ca                       224.0   MG
...                                 ...  ...
Vitamin K (Dihydrophylloquinone)    0.0   UG
Vitamin K (Menaquinone-4)           3.1   UG
Vitamin K (phylloquinone)           0.6   UG
Water                              72.9    G
Zinc, Zn                           0.56   MG

[119 rows x 2 columns]

In [ ]:
# It seems like the results are actually a list of all nutrients for foods with the word "milk" in them. 
#I need to refactor the code so it allows a user to choose which food item they mean from a list of possible matches